* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;

background-color:#141E30;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 4rem;
  height: 100vh;
}

.container {
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 3rem;
  width: 800px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 254, 254, 0.7),
    rgba(255, 251, 251, 0.3)
  );
}
@media (max-width: 987px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 787px) {
  .container {
    width: 90%;
  }
}
.main-container {
  display: flex;
  height: 90%;
}
.ques {
 
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ques,
.optionDiv {
  padding: 0px 15px 0px 15px;
}
.optionDiv {
  width: 20rem;
  line-height: 2.5rem;
  
}
.optionDiv .list {
  display: flex;
}
ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
}
li {
  list-style: none;
  font-size: 1.4em;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0px 20px;
  border-radius: 3px;
  transition: 0.2s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
p {
  font-size: 1.3rem;
}
button {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  margin: 1px 2rem;
  bottom: 20px;
  background-color: transparent;
  border: 3px solid #141E30;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #141E30;
}
.bottom-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.btnnext:hover,.btnprev:hover {
  box-shadow: 0 0 5px 0 #141E30 inset, 0 0 80px 2px #141E30;
  border: 3px solid #141E30;
}

.submitBtn {
  position: relative;
  top: 10%;
  font-size: 1.2rem;
  width: 200px;
  background: #b6b45b;
  text-decoration: line-through;
  cursor: none;
}

.Result {
  font-size: 4rem;
  display: none;
}
.Result p {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}
#marks{
  color: white;
}

@media (max-width: 859px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 600px;
    padding: 10px;
  }
}
